/* =============> SPAN para textos */
span.text-italic {
    font-style: italic;
}

span.text-bold {
    font-weight: bold;
}

span.text-underline {
    text-decoration: underline;
}

span.text-fontall {
    font-style: italic;
    font-weight: bold;
}



/* =============> Para modificar la plantilla */
p.min-margin {
    margin: 0.3em 0;
}


/* =============> Para centrado de imagenes */
.img-center-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
}

.img-center-container img {
    width: 80%;
}
.img-center-container img.w30 {
    width: 30%;
}
.img-center-container img.w40 {
    width: 40%;
}
.img-center-container img.w50 {
    width: 50%;
}
.img-center-container img.w60 {
    width: 60%;
}
.img-center-container img.w80 {
    width: 80%;
}
.img-center-container img.w100 {
    width: 100%;
}

@media screen and (max-width: 999px) {
    .img-center-container img {
        width: 80%;
    }
    .img-center-container img.mw30 {
        width: 30%;
    }
    .img-center-container img.mw40 {
        width: 40%;
    }
    .img-center-container img.mw50 {
        width: 50%;
    }
    .img-center-container img.mw60 {
        width: 60%;
    }
    .img-center-container img.mw80 {
        width: 80%;
    }
    .img-center-container img.mw100 {
        width: 100%;
    }
}






/* =============> Para la sección: Mas notas dentro de poco... */
#coming-soon {
    text-align: center;
    padding: 1rem;
    background: linear-gradient(135deg, #ff3859, #cbb25acc);
    color: #fff;
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modern-container {
    max-width: 800px;
    margin: 0 auto;
}

.modern-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.modern-subtitle {
    font-size: 1.2rem;
    line-height: 1.4;
    margin: 0;
}

@media (max-width: 768px) {
    .modern-title {
        font-size: 1.5rem;
    }

    .modern-subtitle {
        font-size: 1rem;
    }
}